<app-nav-bar></app-nav-bar>
<div style="padding: 20px 20px 0 20px;">
    <h1>Relatório</h1>
    <h3>Relatório geral de membros</h3>
</div>
<mat-card *ngIf="this.haveData; else noData" style="font-size: 1.2em; padding: 20px; margin: 20px;">
    <div>
        <div style="margin-bottom: 20px;"><b>Total de membros: </b>{{report.memberTotal}}</div>
        <div style="margin-bottom: 20px;"><b>Total de membros batizados: </b>{{report.totalBaptizedMembers}}</div>
        <div style="margin-bottom: 20px;"><b>Membro mais velho: </b>{{report.oldestMember}}</div>
        <div style="margin-bottom: 20px;"><b>Idade membro mais velho: </b>{{report.oldestMemberAge}}</div>
        <div style="margin-bottom: 20px;"><b>Data batismo mais recente: </b>{{report.mostRecentBaptism}}</div>
    </div>
</mat-card>
<ng-template #noData>
    <div style="font-size: 1.2em; margin: 20px;">
        <h2 mat-dialog-title>Sem dados. Insira pelo menos um membro.</h2>
    </div>
</ng-template>