<app-nav-bar></app-nav-bar>
<div style="font-size: 1.5em; padding: 20px; margin-top: 20px;">
    <div style="margin-bottom: 20px;"><b>Total de membros: </b>{{report.memberTotal}}</div>
    <div style="margin-bottom: 20px;"><b>Total de membros batizados: </b>{{report.totalBaptizedMembers}}</div>
    <div style="margin-bottom: 20px;"><b>Membro mais velho: </b>{{report.oldestMember}}</div>
    <div style="margin-bottom: 20px;"><b>Idade membro mais velho: </b>{{report.oldestMemberAge}}</div>
    <div style="margin-bottom: 20px;"><b>Data batismo mais recente: </b>{{report.mostRecentBaptism}}</div>
</div>