<div style="padding: 20px 20px 0px 20px;">
  <h1>Membros</h1>
  <h3>Gerencie todos os membros da igreja</h3>
</div>

<mat-form-field style="width: 400px; margin: 0px 20px">
  <span matPrefix> </span>
  <input type="tel" matInput placeholder="Pesquisar membro..." name= "search" [(ngModel)]= "search">
  <button (click)="searchMember()" matSuffix mat-button><mat-icon >search</mat-icon></button>
</mat-form-field>

<div style="margin: 20px;">
  <table style="width: 100%;" mat-table [dataSource]="members" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef>Dt. Nascimento</th>
        <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
      </ng-container>
    
      <ng-container matColumnDef="baptismDate">
        <th mat-header-cell *matHeaderCellDef>Dt. Batismo</th>
        <td mat-cell *matCellDef="let element"> {{element.baptismDate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="address.houseStreet">
        <th mat-header-cell *matHeaderCellDef>Endereço</th>
        <td mat-cell *matCellDef="let element"> {{element.address.houseStreet}} </td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="editMember(element.id)" style="margin-right: 5px;" mat-mini-fab color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteMember(element.id)" mat-mini-fab color="accent">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
  
  